.input-panel {
    padding: 1rem;
    border: 1px solid rgba(lightgray, 0.2);
    border-radius: 5px;
    background: rgba(lightgray, 0.1);
}

.highlight-cell {
    background: rgba(lightgreen, 0.3);
}

.highlight-star svg {
    fill: gold;
}
