// LAYOUT
.d-flex {
    display: flex;
}
.d-flex-center {
    display: flex;
    align-items: center;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}

// SPACING
$sizes: (
    s: 1rem,
    xs: 0.5rem,
    0: 0,
);

@each $size, $value in $sizes {
    .m-t#{$size} {
        margin-top: $value;
    }
    .m-b#{$size} {
        margin-bottom: $value;
    }
    .m-l#{$size} {
        margin-left: $value;
    }
    .m-r#{$size} {
        margin-right: $value;
    }
}

// FONTS
.font-small {
    font-size: 80%;
}
