$INPUT_WIDTH: 90px;
$ICON_WIDTH: 32px;

.container {
    font-size: small;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $INPUT_WIDTH + $ICON_WIDTH);
    column-gap: 5px;
    border-radius: 5px;
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding: 2px;
    background: rgba(lightgray, 0.2);
    border-radius: 5px;
    white-space: nowrap;
}

.input {
    width: $INPUT_WIDTH;
    border: 1px solid rgba(lightgray, 0.3);
}
